.SurveyFormWrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.SurveyForm {
  flex: 0 1 23rem;

  &__controlsGroup {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 3rem;
  }

  &__label {
    padding-bottom: 1rem;
  }

  &__patterns {
    display: flex;
    min-height: 5rem;

    &__button {
      flex: 0 0 5rem;
      margin-right: 1rem;
      background-color: transparent;
    }
  }

  &__title {
    min-height: 3rem;
    padding: .5rem;
  }

  &__description {
    padding: .5rem;
  }
}
