$dark-grey-blue: #334658;
$pig-pink: #e58189;
$black: #303030;
$black-lighter-1: #303030;
$black-lighter-3: #7d7d7d;
$black-darker-1: #2A2A2A;
$metallic-blue: #4b6681;
$metallic-blue-light-1: #71859B;
$metallic-blue-light-3: #b8c3d0;


$pink: #c56a71;

$grey-light-1: #ececec;
$grey-light-2: #d0d0d0;


