$pattern-height: 2.75rem;
$preview-width: 16.875rem;
$preview-height: 33.56rem;

@import "../../colors";

.SurveyPreview {
  display: flex;
  flex: 1 1 auto;

  &__innerWrapper {
    position: relative;
    width: $preview-width;
    height: $preview-height;
  }

  &__descriptionTips {
    position: relative;
    height: $preview-height;
    min-width: 3rem;

    &__item {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      padding: .32rem .44rem;
      color: $metallic-blue;
      font-size: .75rem;
      font-weight: 400;
      border: 1px solid $metallic-blue;
      border-radius: 1.5rem;

      &.item1 {
        top: 1.2rem;
      }

      &.item2 {
        top: 6rem;
      }

      &.item3 {
        top: 12.75rem;
      }
    }
  }


  &__pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: red;
    height: $pattern-height;

    &.pattern-1 {
      background-image: url('/images/pattern-1.png');
      background-repeat: repeat;
      background-size: 6rem 6rem;
    }

    &.pattern-2 {
      background-image: url('/images/pattern-2.png');
      background-repeat: repeat;
      background-size: 6rem 6rem;
    }

    &.pattern-3 {
      background-image: url('/images/pattern-3.png');
      background-repeat: repeat;
      background-size: 6rem 6rem;
    }

    &.pattern-4 {
      background-image: url('/images/pattern-4.png');
      background-repeat: repeat;
      background-size: 6rem 6rem;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1.375rem;
    left: 2rem;
    width: .875rem;
    height: .875rem;
    background-color: $grey-light-1;
    border-radius: .5rem;
  }

  &__mobileBg {
    position: relative;
    height: 100%;
    background-image: url('/images/mobile-background.png');
    background-size: contain;
    overflow: hidden;

    &__innerWrapper {
      display: flex;
      flex-flow: column nowrap;
      height: calc(100% - 3.75rem - 1.75rem);
      overflow-y: auto;
      margin-right: 1.125rem;
      margin-top: $pattern-height;

      &::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $metallic-blue;
        border-radius: 3px;

        &:hover {
          background: rgba(255,255,255,.2);
        }
      }
    }
  }

  &__content {
    position: relative;
    padding: 1.125rem 1rem 1rem 2rem;
  }

  &__contentHeader {
    display: flex;
    color: $metallic-blue-light-3;
    font-size: .5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-bottom: .625rem;

    &__timer {
      display: inline-block;
      flex: 1 1 50%;
    }

    &__reward {
      flex: 1 1 50%;
      text-align: right;

      &__points {
        display: inline-block;
        padding: .125rem .25rem;
        margin-left: .125rem;
        background-color:  $metallic-blue;
        color: white;
        border-radius: .375rem;
        font-size: .5rem;
        font-weight: 600;

        &__currency {
          font-size: .375rem;
          font-weight: 300;
        }
      }
    }
  }

  &__title {
    padding-bottom: .375rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 800;
    color: $black;

  }

  &__subTitle {
    padding-bottom: 1rem;
    font-size: .563rem;
    font-weight: 800;
    color: $black;
  }

  &__description {
    padding-bottom: .75rem;
    font-size: .565rem;
    line-height: .875rem;
    color: $black-lighter-3;
    font-weight: 600;
    min-height: 10.25rem;
  }

  &__requests {
    padding: 0 .5rem 0 1.125rem;

    &__header {
      padding: 0 .875rem .75rem .875rem;
      font-size: .5rem;
      font-weight: 600;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: .5rem .75rem;
      border-top: 1px solid $grey-light-1;
      border-bottom: 1px solid $grey-light-1;
      font-size: .565rem;
      line-height: 1rem;

      &__text {
        display: inline-block;
        padding-left: .625rem;
        font-weight: 800;
        flex: 1 1 auto;
        color: $black-lighter-1;
      }

      &__notice {
        flex: 0 0 auto;
        padding: 0 .25rem;
        background-color: $grey-light-1;
        border-radius: .4rem;
        color: $pig-pink;
        font-weight: 800;
        font-size: .375rem;
      }
    }
  }

  &__submit {
    padding: 1rem 1rem 0 2rem;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: flex-end;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      background-color: $metallic-blue;
      color: $metallic-blue-light-3;
      font-size: .560rem;
      border-radius: .375rem;
    }
  }
}
